* {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
}

.title {
    position: fixed;
    text-overflow: ellipsis;
    overflow: scroll;

}

.all {
    margin: 5px auto;


}

#logo {
    position: fixed;
    left: 2px;
    float: left;
    width: 150px;
    height: 840px;
    /*border: 1px solid black;*/

}

#change {
    float: left;
    margin-left: 330px;
    width: 660px;
    height: 803px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: scroll;
    -ms-overflow-style: none;
}

#change::-webkit-scrollbar {
    display: none;
}

#mmode {
    position: fixed;
    right: 13px;
    float: right;
    width: 120px;
    height: 840px;
    /*border: 1px solid black;*/
    margin-left: 3px;
}

#menu {
    display: inline-block;
    width: 660px;
    height: 50px;
    border: 1px solid black;
    margin-top: 8px;
    margin-left: 330px;
    border-radius: 10px;
}

#login {
    margin-top: 2px;
    margin-left: 23px;
}

#logout {
    margin-top: 23px;
    margin-left: 23px;
}

.btnimg {
    margin-left: 90px;
}

.img {

    width: 40px;
    height: 40px;
    margin: 4px;

}

.imgs {
    width: 50px;
    height: 50px;

}

.m {
    width: 57px;
    height: 57px;
    margin-top: 19px;
    margin-left: 32px;

}

#logoimg {
    width: 90px;
    height: 90px;
    margin-left: 7px;
    margin-top: 5px;
}


.postImg {
    width: 30px;
    height: 30px;
}


.gposttable, tr {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5px;

}

th, td {
    background-color: #fffde5;
}

.trsize {
    width: 300px;
    height: 100px;
}

.rsetbut {
    background-color: white;
    border: 1px solid green;
    border-radius: 5px;
    color: green;
}

.modsize {
    width: 40px;
    height: 40px;

}

.report {
    margin-left: 40px;
}

.uptd {
    height: 50px;
    background-color: white;
}

.idcolor {
    border-top: 1px solid black;
    border-radius: 5px;
}

.colw {
    border: 1px solid white;
    background-color: black;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-green2 {
    background-color: #519d9e;
    color: #ffeee4;
}

.w-btn-gra1 {
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
}

#show {
    margin-left: 25%;
    margin-top: 5%;
}

.jointable {
    height: auto;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.likeBtn {
    margin-left: 40px;
}

#idblock {
    text-align: center;
    margin-left: 2px;
}