* {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
}

.title {
    position: fixed;
    text-overflow: ellipsis;
    overflow: scroll;
    -ms-overflow-style: none;

}

.all {
    margin: 5px auto;


}


#logo {
    position: fixed;
    left: 2px;
    float: left;
    width: 150px;
    height: 840px;
    /*border: 1px solid black;*/

}


#change {
    float: left;
    margin-left: 330px;
    width: 660px;
    height: 803px;
    border: 1px solid black;
    border-radius: 10px;
    -ms-overflow-style: none;
    overflow: scroll;
}

/*#change::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

#mmode {
    position: fixed;
    right: 13px;
    float: right;
    width: 120px;
    height: 840px;
    /*border: 1px solid black;*/
    margin-left: 3px;
}

#login {
    margin-top: 2px;
    margin-left: 23px;
}

#logout {
    margin-top: 23px;
    margin-left: 23px;
}

#menu {
    display: inline-block;
    width: 660px;
    height: 50px;
    border: 1px solid black;
    margin-top: 8px;
    margin-left: 330px;
    border-radius: 10px;
}

.img {
    width: 40px;
    height: 40px;
    margin: 4px;

}

.btnimg {
    margin-left: 90px;
}

.imgs {
    width: 50px;
    height: 50px;


}

.m {
    width: 57px;
    height: 57px;
    margin-top: 19px;
    margin-left: 32px;

}


.selectBox {
    width: 103px;
    height: 40px;
    border: 1px solid blue;
    margin-bottom: 10px;
    margin-top: 28px;
    margin-left: 5px;
}

#top {
    border: 1px solid black;
    width: 100%;
    display: inline-block;
    padding-left: 20px;
}

#select {
    float: left;
}

#search {
    width: 600px;
    height: 40px;
    float: left;
    margin-top: 28px;
    margin-left: 20px;
}

#sbtn {
    float: left;
    width: 80px;
    height: 40px;
    margin-top: 27px;
    margin-left: 10px;
}

.profileImg {
    width: 100px;
    height: 100px;
    object-fit: contain;
    float: left;
}

#profileFrame {
    padding: 50px;
}

#idText {
    margin-left: 50px;
    margin-right: 50px;
    float: left;
}

#myPostFrame {
    padding-top: 18px;
    padding-left: 150px;
    padding-right: 150px;
}

.cardButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card-body {
    padding-bottom: 30px;
}

#postSelector {
    margin-bottom: 10px;
}


.noLine {
    text-decoration-line: none;
}


.dform {
    display: inline;
}

#files {
    display: none;
}


.hov {
    text-align: center;
    border: 2px solid darkgray;
    background-color: white;
    width: 147px;
    height: 26px;
    border-radius: 7px;
    font-size: 16px

}

.defaulttag {
    background-color: white;
    border-color: white;
    border-radius: 7px;
}

#profilechange {
    display: inline-block;
    margin-top: 5px;
    margin-left: 32px;
}

#basicchange {
    margin-left: 30px;
}

.photosave {
    background-color: black;
    color: white;
    border-radius: 10px;
    border-color: black;
    display: none;
}

#logoimg {
    width: 90px;
    height: 90px;
    margin-left: 7px;
    margin-top: 5px;
}

.rsetbut {
    background-color: white;
    border: 1px solid green;
    border-radius: 5px;
    color: green;
}

.postImg {
    width: 30px;
    height: 30px;

}

#cmtIcon {
    text-decoration-line: none;

}

.noLine {
    text-decoration-line: none;
}

.post {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.w-btn-green {
    background-color: #77af9c;
    color: #ffeee4;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-green2 {
    background-color: #519d9e;
    color: #ffeee4;
}

.w-btn-brown {
    background-color: #ce6d39;
    color: #ffeee4;
}

#show {
    margin-left: 25%;
    margin-top: 5%;
}

.w-btn-outline {
    position: relative;
    padding: 8px 20px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo-outline {
    border: 3px solid #e4e6e8;
    color: #1e6b7b;
}

.report {
    margin-left: 40px;
}

#idblock {
    text-align: center;
    margin-left: 2px;
}
