#chang {
    margin-top: 50px;
    margin-left: 40px;
    padding-top: 40px;
    padding-left: 80px;
}

#chang span {
    text-align: center;
    font-size: large;
}

#id, #pw {
    width: 350px;
    margin-top: 10px;
}
