* {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#title {

    width: 805px;
    border: 1px solid black;
    text-align: center;
    height: 660px;
    margin-left: 250px;
    margin-top: 50px;

}

body {
    background-color: #c8f1ff;

}


table, td, tr, th {
    margin-left: 40px;
    border: 1px solid black;
    height: 70px;
    width: 700px;

}

span {
    font-size: larger;
    font-weight: bold;
}

.btn {
    margin-top: 70px;
    width: 90px;
    height: 40px;
    background-color: white;
    background-color: beige;
    border-color: red;
    border-radius: 5px;

}

.form-check {
    margin-left: 40px;

}

.form-check-label {
    float: left;
}

#logoimg {
    width: 90px;
    height: 90px;
    margin-left: 600px;
    margin-top: 5px;
}