<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>등록</h1>
<a th:href="@{'/gpList?gno=' + ${gno}}">뒤로가기</a>
<form action="groupinputSave" method="post">
    <h2> 그룹글</h2>
    <input type="hidden" name="gno" th:value="${gno}">
    제목<input type="text" name="g_title" id="g_title">
    그룹글 내용 <textarea rows="13" cols="70" name="g_content" id="g_content"></textarea>
    <input type="submit" value="전송" onclick="return check()">

</form>

<form action="joininputSave" method="post">
    <h2> 모집글</h2>
    <input type="hidden" name="gno" th:value="${gno}"><!--그룹번호-->
    모임이름<input type="text" name="m_name" id="m_name">
    모집인원<input type="text" name="cnt" id="cnt" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />명
    모집 내용 <textarea rows="13" cols="70" name="m_contents" id="m_contents"></textarea>
    <input type="submit" value="전송" onclick="return mochek()">

</form>


</body>
<script>

    function check() {
        if (document.querySelector("#g_title").value == "") {
            alert("제목을 적어주세요")
            return false
        } else if (document.querySelector("#g_title").value.length > 40) {
            alert("제목은 최대 40자 입니다.")
            return false
        } else if (document.querySelector("#g_content").value == "") {
            alert("내용을 적어주세요")
            return false
        } else if (document.querySelector("#g_content").value.length > 100) {
            alert("내용은 최대 100자 입니다.")
            return false
        } else {
            return true;
        }
    }

    function mochek() {
        if (document.querySelector("#m_name").value === "") {
            alert("모임 이름을 작성해 주세요")
            return false
        }else if (document.querySelector("#m_name").value.length>40){
            alert("제목은 최대 40자 입니다.")
            return false
        }else if (document.querySelector("#cnt").value === "") {
            alert("모집 인원을 적어주세요")
            return false
        } else if (document.querySelector("#m_contents").value === "") {
            alert("모집 내용을 작성해 주세요")
            return false
        }else if (document.querySelector("#m_contents").value.length > 100) {
            alert("내용은 최대 100자 입니다.")
            return false
        }
        else {
            return true;
        }
    }


</script>
</html>