<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="post: ${gList}">
    <li class="nav-item"><a th:href="@{groupinput(gno=${post.gno})}">등록</a> </li>
    <span th:text = "${post.gno}"></span>
    <span th:text = "${post.g_id}"></span>
    <span th:text = "${post.gname}"></span>
    <span th:text = "${post.g_region}"></span>
    <a th:href="@{groupjoin(gno=${post.gno})}">가입</a>
    <a th:href="@{gpList(gno=${post.gno})}"> <button>그룹 게시글 보기</button></a>
    <a th:href="@{delmembergroup(gno=${post.gno})}"> <button>삭제</button></a>
</div>
</body>
</html>