<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 자세히보기</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/grouppost.css">

<body>
<div class="title">
    <div class="all">
        <div id="logo">
            <a href="snsMaster"> <img src="img/logo.png" id="logoimg"></a>
        </div>
        <div id="change">

            <a th:href="@{'/gpList?gno=' + ${gpvo.gno}}"> <img class="likeBtn modback" src="img/back.png"> </a>
            <table class="gposttable">
                <tbody>
                <tr class="gposttable">
                    <td><input type="hidden" value="${gpvo.gno}"></td>
                    <td></td>
                    <td>아이디</td>
                    <td th:text="${gpvo.id}"></td>
                </tr>
                <td>제목</td>
                <td th:text="${gpvo.g_title}"></td>
                <tr class="gposttable">
                    <td>내용</td>
                    <td th:utext="${gpvo.g_content}"></td>
                </tr>
                <tr class="gposttable">
                    <td>좋아요</td>
                    <td th:text="${gpvo.g_like}"></td>
                    <td>신고누적수</td>
                    <td th:text="${gpvo.g_report}"></td>
                </tr>
                <tr class="gposttable">
                <td th:if="${id==gpvo.id}"><a th:href="@{modno(g_no=${gpvo.g_no})}">
                    <img class="postImg report" src="img/mod.png">
                </a></td>
                <td th:if="${id==gpvo.id}"><a th:href="@{delgroup(g_no=${gpvo.g_no},gno=${gpvo.gno})}">
                    <img class="postImg report" src="img/del.png">
                </a></td>
                </tr>
                </tbody>
            </table>

            <table >
                <tbody th:each="post: ${cmList}">
                <tr>
                    <td><input type="hidden" value="${post.c_no}"></td>
                    <td><span th:text="${postStat.count}"></span></td>
                    <td th:text="${post.id}">아이디</td>
                    <td th:text="${post.cmt}">댓글</td>
                    <td th:if="${id==post.id}"><a th:href="@{/commentdel(c_no=${post.c_no},g_no=${post.g_no})}">
                        <img class="postImg report" src="img/commentdel.png">
                    </a></td>
                </tr>
                </tbody>
            </table>
            <form action="groupcommentSave" method="post">
                <input type="hidden" name="g_no" th:value="${gpvo.g_no}">
                <input type="hidden" name="id" th:value="${gpvo.id}">
                댓글<input type="text" name="cmt" id="cmt">
                <input th:if="${id!=null}" type="submit" value="전송" onclick="return check()">

            </form>

            <div id="show">
            </div>
        </div>
    </div>
    <div id="mmode">
        <img src="img/mmode.png" id="m" class="m">
        <a href="FAQPage"> <img src="img/faq.png" class="m"></a>
        <br><br>
        <div id="idblock">
            <th:block th:if="${session.userid!=null}">
                <span style="color: #007bff ">로그인 아이디:</span>
                <br><span th:text="${session.userid}" style="font-weight: bold"></span><br>
                <span style="color: #007bff">이름:</span> <span th:text="${session.username}"></span><br>
                <span style="color: #007bff">지역:</span> <span th:text="${session.userregion}"></span>
            </th:block>
        </div>
    </div>

    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div id="menu">
            <a href="snsMaster" class="btnimg"> <img src="img/home.png" class="img"></a>
            <a href="membergroupinput" class="btnimg"> <img src="img/plus.png" class="img"></a>
            <a href="gList" class="btnimg"> <img src="img/group.png" class="imgs"></a>
            <a href="myPage" class="btnimg"> <img src="img/myprofile.png" class="img"></a>
        </div>
    </nav>
</div>
</body>

<script th:inline="javascript">
    var id = [[${session.userid}]]

</script>
<script type="text/javascript" src="/js/grouppost.js">
</script>
</html>
