<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link href="css/Manager.Main2.css" rel="stylesheet">
<body>
<div class="navbar">
    <div class="container">
    <a href="snsMaster"><div id="dd"><img src="img/logo.png" width="100px" height="70px"></div></a>
        <ul>
            <li><a href="/review">공지사항 관리</a></li>
            <li><a href="managerMode">자유게시판 관리</a></li>
            <li><a href="managerMode2" style="color:wheat;">그룹게시판 관리</a></li>
            <li><a href="stopmember">정지 회원 관리</a></li>
            <li id="ggg"><a href="logoutManager">로그 아웃</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <form action="search2" method="get">
        <div class="search-container">
        <select name="searchcell" id="gggg">
            <option value="id">아이디</option>
            <option value="g_title">제목</option>
        </select>
        <input type="search" id="gihi" value="" name="search" placeholder="Search...">
        <input type="submit" value="검색">
        </div>
    </form>
    <br>
    <div class="table-wrapper">
    <table id="mana">
        <thead>
        <tr>
            <th class="th">체크박스</th>
            <th class="th">글번호</th>
            <th class="th">아이디</th>
            <th class="th">제목</th>
            <th class="th">자세히보기</th>
            <th class="th">회원정지</th>
            <th class="th">삭제</th>
            <th class="th">확인</th>
            <th class="th">위반횟수</th>
            <th class="th">신고누적</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="all:${all}" class="tr">
            <td><input type="checkbox" th:value="${all.g_no}" class="checkbox"></td>
            <td th:text="${allStat.count}"></td>
            <td th:text="${all.id}"></td>
            <td th:text="${all.g_title}"></td>
            <td><a th:attr="no=${all.g_no}, id=${all.id}" onclick="look2(this.getAttribute('no'), this.getAttribute('id'))"><button class="dd">글보기</button></a></td>
            <td><a th:href="@{stop(id=${all.id})}"><button>회원정지</button></a></td>
            <td><a th:href="@{delete(g_no=${all.g_no})}"><button>삭제</button></a></td>
            <td><a th:href="@{alter2(g_no=${all.g_no})}"><button>문제없음</button></a></td>
            <td th:text="${all.g_content}"></td>
            <td th:text="${all.g_report}"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<input type="button" value="체크삭제" id="chk">
<input type="button" value="엑셀다운" id="excelDownload" class="download">





<div class="post" style="display:none;" id="jungtae">
    <b id="pp"></b>
    <span id="ab"></span>위반한단어:<span id="abc"></span>
    <span class="right">
    <a id="link">
        <button>회원정지 및 글삭제</button>
    </a>
</span><br>
    <span id="category"></span>
    <span class="postImgContainer">
    <img class="postImg left" src="img/chat.png">
    <a class="left" href="#"><img class="postImg" src="img/siren.png"></a>
        <span id="ss" style="margin-left: 39%"></span>
    <span class="right">
        <a href="#"><img class="postImg" src="img/heart.png"></a>
        <span id="good"></span>
    </span>
</span>
    <hr>
    <h5><b id="title"></b></h5>
    <br>
    <span id="vv"></span>
    <br>
    <hr>
    <span id="commentsContainer">
</span>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</body>
</html>
<script src="js/Manager.Main2.js"></script>
