<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<body>
<style>
    #line {
        border: 1px solid black;
        width: 500px;
        height: 470px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        text-align: center;
    }

</style>
<div id="line">
    <h2>비밀번호 재확인</h2>
    <p class="contxt">안전한 탈퇴를 위해 비밀번호를 다시 한 번 입력해주세요.</p>

    <input type="hidden" th:value="${pw}" id="pw1">
    <form method="get" action="stopMember">
        <div class="spc_content">
            <fieldset>
                <br><br><br>
                <p class="spc_row"><span th:text="${id}"></span></p>
                <p class="spc_row2">

                    비밀번호 <input type="password" style="width:150px" th:value="${pw}" id="pw2">

                </p>
                <br>
                <br>
                <p class="btn_area_btm">
                    <input type="hidden" th:value="${id}" name="id">
                    <button type="button" class="btn" onclick="pwChk()">확인</button>
                </p>
                <br>
                <br>
                <br><br>
            </fieldset>
        </div>
    </form>
</div>
</body>
<script>
    function pwChk() {
        var pw1 = $('#pw1').val()
        var pw2 = $('#pw2').val()

        if(pw1!=pw2){
            alert("비밀번호가 일치하지 않습니다")
            $('.btn').attr("type","button")
        }else{
            if(confirm("탈퇴하시겠습니까? 7일 후에 계정이 삭제됩니다")){
                $('.btn').attr("type","submit")
            }

        }
    }


</script>
</html>