<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 화면</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet">
<style>
    * {
        font-family: "Nanum Gothic", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    body {
        margin: 0px;
    }

    .title {
        position: fixed;
        text-overflow: ellipsis;
        overflow: scroll;

    }

    .title {
        -ms-overflow-style: none;
    }

    .title::-webkit-scrollbar {
        display: none;
    }

    .all {
        margin: 5px auto;


    }

    #logo {
        position: fixed;
        left: 2px;
        float: left;
        width: 150px;
        height: 840px;
        /*border: 1px solid black;*/

    }

    #change {
        float: left;
        margin-left: 330px;
        width: 660px;
        height: 803px;
        /*border: 1px solid black;*/
    }

    #mmode {
        position: fixed;
        right: 13px;
        float: right;
        width: 120px;
        height: 840px;
        /*border: 1px solid black;*/
        margin-left: 3px;
    }

    #login {
        margin-top: 2px;
        margin-left: 23px;
    }

    #logout {
        margin-top: 23px;
        margin-left: 23px;
    }

    #menu {
        display: inline-block;
        width: 660px;
        height: 50px;
        border: 1px solid black;
        margin-top: 8px;
        margin-left: 330px;
        border-radius: 10px;
    }

    .img {

        width: 40px;
        height: 40px;
        margin: 4px;

    }

    .btnimg {
        margin-left: 90px;
    }

    .imgs {
        width: 50px;
        height: 50px;

    }

    .m {
        width: 57px;
        height: 57px;
        margin-top: 19px;
        margin-left: 32px;

    }

    .selectBox {
        width: 80px;
        height: 40px;
        border: 1px solid skyblue;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 6px;
        border-radius: 5px;
    }

    #top {
        border: 1px solid black;
        width: 100%;
        display: inline-block;
        padding-left: 20px;
        border-radius: 10px;
    }

    #select {
        float: left;
    }

    #search {
        width: 355px;
        height: 40px;
        float: left;
        margin-top: 20px;
        margin-left: 13px;
    }

    #sbtn {
        float: left;
        width: 68px;
        height: 40px;
        margin-top: 20px;
        margin-left: 10px;
    }

    #notice {
        width: 100%;
        height: 200px;
        border: 1px solid black;
        text-align: center;
        border-radius: 10px;

    }

    .post {
        border: 1px solid gray;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .postFoot {
        display: block;
        height: 30px;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }

    .postImg {
        width: 30px;
        height: 30px;
        margin-left: 40px;
    }

    .postFile {
        object-fit: contain;
        width: 300px;
        height: 300px;
    }

    .slideContainer {
        width: 300px;
        height: 300px;
        background-color: black;
        margin-left: auto;
        margin-right: auto;
    }

    #cmtIcon {
        text-decoration-line: none;
    }

    #logoimg {
        width: 90px;
        height: 90px;
        margin-left: 7px;
        margin-top: 5px;
    }

    .fTitle {
        font-size: 20px;
    }

    #Notification {
        width: 60px;
        height: 60px;
        margin-left: 23px;
        margin-top: 10px;
    }

    .noticeList, .festivalList, .weathers {
        display: none;
    }

    .show, .showFestival, .showWeather {
        display: block;
    }

    .profileImg {
        width: 50px;
        height: 50px;
        object-fit: contain;
        float: left;
        border-radius: 70%;
    }

    #idblock {
        text-align: center;
        margin-left: 2px;
    }

    .noLine {
        text-decoration-line: none;
    }

    . btn-secondary {
        font-size: small;
    }

    .btt {
        font-size: small;
    }

    .postContent {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

</style>

<body>
<div class="title">
    <div class="all">
        <div id="logo">
            <a href="snsMaster"> <img src="img/logo.png" id="logoimg"></a>
            <a href="#" onclick="notification()"><img src="img/bell.png" id="Notification"></a>
        </div>
    </div>
    <div id="change">
        <div id="top">
            <form action="postSearch" method="get">
                <div id="select">
                    <select class="selectBox" name="region" id="region" onchange="">
                        <option value="">지역선택</option>
                        <option value="서울특별시">서울특별시</option>
                        <option value="인천광역시">인천광역시</option>
                        <option value="대전광역시">대전광역시</option>
                        <option value="광주광역시">광주광역시</option>
                        <option value="대구광역시">대구광역시</option>
                        <option value="울산광역시">울산광역시</option>
                        <option value="부산광역시">부산광역시</option>
                        <option value="수원시">수원시</option>
                        <option value="고양시">고양시</option>
                        <option value="과천시">과천시</option>
                        <option value="광명시">광명시</option>
                        <option value="광주시">광주시</option>
                        <option value="구리시">구리시</option>
                        <option value="군포시">군포시</option>
                        <option value="김포시">김포시</option>
                        <option value="남양주시">남양주시</option>
                        <option value="동두천시">동두천시</option>
                        <option value="부천시">부천시</option>
                        <option value="성남시">성남시</option>
                        <option value="시흥시">시흥시</option>
                        <option value="안산시">안산시</option>
                        <option value="안성시">안성시</option>
                        <option value="안양시">안양시</option>
                        <option value="양주시">양주시</option>
                        <option value="오산시">오산시</option>
                        <option value="용인시">용인시</option>
                        <option value="의왕시">의왕시</option>
                        <option value="의정부시">의정부시</option>
                        <option value="이천시">이천시</option>
                        <option value="파주시">파주시</option>
                        <option value="평택시">평택시</option>
                        <option value="포천시">포천시</option>
                        <option value="하남시">하남시</option>
                        <option value="화성시">화성시</option>
                        <option value="강릉시">강릉시</option>
                        <option value="동해시">동해시</option>
                        <option value="삼척시">삼척시</option>
                        <option value="속초시">속초시</option>
                        <option value="원주시">원주시</option>
                        <option value="춘천시">춘천시</option>
                        <option value="태백시">태백시</option>
                        <option value="제천시">제천시</option>
                        <option value="청주시">청주시</option>
                        <option value="충주시">충주시</option>
                        <option value="계룡시">계룡시</option>
                        <option value="공주시">공주시</option>
                        <option value="논산시">논산시</option>
                        <option value="보령시">보령시</option>
                        <option value="서산시">서산시</option>
                        <option value="아산시">아산시</option>
                        <option value="천안시">천안시</option>
                        <option value="군산시">군산시</option>
                        <option value="김제시">김제시</option>
                        <option value="남원시">남원시</option>
                        <option value="익산시">익산시</option>
                        <option value="전주시">전주시</option>
                        <option value="정읍시">정읍시</option>
                        <option value="광양시">광양시</option>
                        <option value="나주시">나주시</option>
                        <option value="목포시">목포시</option>
                        <option value="순천시">순천시</option>
                        <option value="여수시">여수시</option>
                        <option value="경산시">경산시</option>
                        <option value="경주시">경주시</option>
                        <option value="구미시">구미시</option>
                        <option value="김천시">김천시</option>
                        <option value="문경시">문경시</option>
                        <option value="상주시">상주시</option>
                        <option value="안동시">안동시</option>
                        <option value="영주시">영주시</option>
                        <option value="영천시">영천시</option>
                        <option value="포항시">포항시</option>
                        <option value="거제시">거제시</option>
                        <option value="김해시">김해시</option>
                        <option value="마산시">마산시</option>
                        <option value="밀양시">밀양시</option>
                        <option value="사천시">사천시</option>
                        <option value="양산시">양산시</option>
                        <option value="진주시">진주시</option>
                        <option value="진해시">진해시</option>
                        <option value="창원시">창원시</option>
                        <option value="통영시">통영시</option>
                        <option value="서귀포시">서귀포시</option>
                        <option value="제주시">제주시</option>
                    </select>
                    <select class="selectBox" name="category" id="category" onchange="">
                        <option value=""><span>카테고리 </span></option>
                        <option value="자유게시글"><span>자유게시글 </span></option>
                        <option value="여행계획서"><span>여행계획서 </span> </span></option>
                    </select>
                </div>
                <input name="sword" type="search" placeholder="검색어를 입력하세요" id="search" class="form-control">
                <input type="submit" value="검색" id="sbtn" class="btn btn-outline-info">
            </form>
        </div>
        <div id="notice">
                <span th:each="notice : ${noticeList}" th:text="'[공지] ' + ${notice}"
                      th:attr="class=${noticeStat.index==0 ? 'noticeList show' : 'noticeList'}"></span><br>
            <span th:each="festivalMap : ${festivalMapList}"
                  th:attr="class=${festivalMapStat.index==0 ? 'festivalList showFestival' : 'festivalList'}">
                    <b class="fTitle" th:text="'[경남 창녕] '+${festivalMap.name}"></b><br>
                    <span th:text="'기 간: '+${festivalMap.period}"></span><br>
                    <span th:text="'장 소: '+${festivalMap.place}"></span><br>
                    <span th:text="'주 관: '+${festivalMap.sponsor}"></span>
                </span>
            <span th:each="region : ${regions}"
                  th:attr="class=${regionStat.index==0 ? 'weathers showWeather' : 'weathers'}">
                    <input type="hidden" class="city" placeholder="Enter city name" th:value="${region}">
                    <div class="weatherResult"></div>
                </span>
        </div>


        <div id="postFrame">
            <div th:each="postMap : ${postMaps}" class="post" th:id="${postMap['post'].no}">
                <img th:src="@{download(filename=${postMap['profileImgName']})}" class="profileImg" alt="...">
                <th:block th:if="${session.userid==postMap['post'].id}">
                    <a href="myPage" class="noLine"> <b th:text="${postMap['post'].id}" class="postid"></b></a>
                </th:block>
                <th:block th:unless="${session.userid==postMap['post'].id}">
                    <a class="noLine" th:href="@{yourPage(id=${postMap['post'].id})}"> <b
                            th:text="${postMap['post'].id}"
                            class="postid"></b></a>
                </th:block>
                <th:block th:if="${session.userid!=null}">
                    <th:block th:if="${postMap['post'].followstate}">
                        <button type="button" class="follow btn btt btn-secondary">팔로우 취소</button>
                    </th:block>
                    <th:block th:unless="${postMap['post'].followstate}">
                        <button th:if="${session.userid!=postMap['post'].id}" type="button"
                                class="follow btn btt btn-secondary">팔로우
                        </button>
                    </th:block>
                </th:block>
                <span class="right">

                    <span th:if="${session.userid==postMap['post'].id}">
                        <a class="noLine" th:href="@{postMod(no=${postMap['post'].no})}">수정</a>
                        <a class="noLine" th:href="@{postDelete(no=${postMap['post'].no})}">삭제</a>
                    </span>
                    <a class="noLine" th:href="@{postDetail(no=${postMap['post'].no})}">자세히보기</a>
                </span><br>
                <span th:text="${postMap['post'].region}"></span>
                <span th:text="${postMap['post'].category}"></span>
                <br>
                <hr>
                <b th:text="${postMap['post'].title}"></b><br>
                <div th:if="${postMap['post'].file_name[0]} != null" th:id="carouselExample+${postMapStat.index}"
                     class="carousel slide slideContainer">
                    <div class="carousel-inner">
                        <div th:each="fname : ${postMap['post'].file_name}" th:if="${fname} != null"
                             th:attr="class=${fnameStat.index == 0 ? 'fileContainer carousel-item active' : 'fileContainer carousel-item'}">
                            <img th:src="@{download(filename=${fname})}" class="d-block w-100 postFile" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                            th:data-bs-target="'#carouselExample'+${postMapStat.index}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            th:data-bs-target="'#carouselExample'+${postMapStat.index}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br>
                <span class="postContent" th:utext="${postMap['post'].content}"></span><br>
                <span class="postFoot">
                    <a id="cmtIcon" class="left" th:href="@{postDetail(no=${postMap['post'].no}, cmtFocus=true)}">
                        <img class="postImg" src="img/chat.png">
                        <span th:each="cmt:${comments}">
                            <span th:if="${cmt.NO==postMap['post'].no}" th:text="${cmt.cnt}"></span>
                        </span>
                    </a>
                <img class="postImg report" src="img/siren.png">
                <span class="right">
                    <img class="likeBtn postImg"
                         th:attr="src = ${postMap['post'].isLike ? 'img/filledHearts.png' : 'img/heart.png'}">
                    <span th:text="${postMap['post'].good}"></span>
                </span>
                </span>
            </div>
        </div>
        <div id="show">
        </div>
    </div>
    <div id="mmode">
        <img src="img/mmode.png" id="m" class="m">
        <a href="FAQPage"> <img src="img/faq.png" class="m"></a>
        <br><br>
        <div id="idblock">
            <th:block th:if="${session.userid!=null}">
                <span style="color: #007bff ">로그인 아이디:</span>
                <br><span th:text="${session.userid}" style="font-weight: bold"></span><br>
                <span style="color: #007bff">이름:</span> <span th:text="${session.username}"></span><br>
                <span style="color: #007bff">지역:</span> <span th:text="${session.userregion}"></span>
            </th:block>
        </div>
    </div>
    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div id="menu">
            <a href="snsMaster" class="btnimg"> <img src="img/home.png" class="img"></a>
            <a href="myPost" class="btnimg"> <img src="img/plus.png" class="img"></a>
            <a href="gList" class="btnimg"> <img src="img/group.png" class="imgs"></a>
            <a href="myPage" class="btnimg"> <img src="img/myprofile.png" class="img"></a>
        </div>
    </nav>
</div>
</body>

<script th:inline="javascript">
    var id = [[${session.userid}]]
    if (id != null) {//로그인 되어있으면
        $("#login").remove()
        let area = document.getElementById("mmode");
        var button = document.createElement("button")
        button.id = "logout"
        button.type = button
        button.className = "btn btn-primary"
        button.innerHTML = "로그아웃"
        button.style = "font-size: 15px"
        area.appendChild(button)

    } else {//로그아웃 되어있으면
        $('#logout').remove()
        let area = document.getElementById("mmode");
        var button = document.createElement("button")
        button.id = "login"
        button.type = button
        button.className = "btn btn-primary"

        button.innerHTML = "로그인"
        area.appendChild(button)
    }

    $(window).on('load', function () {
        var apiKey = 'fbb0870cd3a95e3a4ae807939c8d2841'; // 여기에 자신의 OpenWeatherMap API 키를 입력하세요
        for (let i = 0; i < $('.weathers').length; i++) {
            var city = $('.city').eq(i).val();
            var apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric&lang=kr`;
            $.ajax({
                url: apiUrl,
                method: 'GET',
                success: function (data) {
                    var iconCode = data.weather[0].icon;
                    var iconUrl = "http://openweathermap.org/img/wn/" + iconCode + ".png";
                    var weatherData = `
                <span>지역: ${data.name}</span>
               <img src="${iconUrl}">
                <span>온도: ${data.main.temp} °C</span>
                <span>날씨: ${data.weather[0].description}</span>
                <span>습도: ${data.main.humidity}%</span>
                <span>풍속: ${data.wind.speed} m/s</span>
            `;
                    $('.weatherResult').eq(i).html(weatherData);
                },
                error: function (error) {
                    $('.weatherResult').eq(i).html('<p>An error occurred</p>');
                }
            });
        }
    });
    $('#login').on('click', () => {
        location.href = 'loginForm'
    });

    $('#logout').on('click', () => {
        location.href = 'logout'
    });

    $('#m').on('click', () => {
        let popOption = "fullscreen=yes, menubar=yes, toolbar=yes"

        let openUrl = '/managerPage'
        window.open(openUrl, '_blank', 'width=500,height=600,menubar=yes');

    });


    setInterval(() => {
        var target = $('.show');
        if (target.next('.noticeList').length == 0) {
            target.attr("class", "noticeList");
            $('.noticeList:eq(0)').attr("class", "noticeList show");
        } else {
            target.attr("class", "noticeList");
            target.next('.noticeList').attr("class", "noticeList show");
        }
        $('.noticeList').css({
            "display": "none"
        })
        $('.show').css({
            "display": "block"
        })
    }, 11000)

    setInterval(() => {
        var target = $('.showFestival');
        if (target.next('.festivalList').length == 0) {
            target.attr("class", "festivalList");
            $('.festivalList:eq(0)').attr("class", "festivalList showFestival");
        } else {
            target.attr("class", "festivalList");
            target.next('.festivalList').attr("class", "festivalList showFestival");
        }
        $('.festivalList').css({
            "display": "none"
        })
        $('.showFestival').css({
            "display": "block"
        })
    }, 11000)

    setInterval(() => {
        var target = $('.showWeather');
        if (target.next('.weathers').length == 0) {
            target.attr("class", "weathers");
            $('.weathers:eq(0)').attr("class", "weathers showWeather");
        } else {
            target.attr("class", "weathers");
            target.next('.weathers').attr("class", "weathers showWeather");
        }
        $('.weathers').css({
            "display": "none"
        })
        $('.showWeather').css({
            "display": "block"
        })
    }, 5000)


    $(document).ready(function () {
        const useridd = [[${session.userid}]];
        $.ajax({
            type: "GET",
            url: "/notification state",
            data: {id: useridd},
            success: function (state) {
                if (state > 0) {
                    $('#Notification').attr('src', 'img/notification-bell.png');
                }
            },
            error: function (error) {
                console.log("Error: ", error);
            }
        });
    });


    function notification() {
        let a = [[${session.userid}]];
        location.href = "notification?id=" + a
    }


    $(document).on("click", ".likeBtn", (event) => {
        console.log("몇번실행?")
        var postElement = $(event.currentTarget).closest('.post');
        var userid = postElement.find('b:eq(0)').text()
        var no = event.target.parentElement.parentElement.parentElement.id
        var id = [[${session.userid}]];
        if (id != null) {
            $.ajax({
                type: "post",
                async: false,
                url: "postLike",
                data: {no: no, id: id},
                success: function (data) {
                    if (data.isLike) {
                        event.target.src = "img/filledHearts.png"
                        var content = id + "님이 좋아요를 눌렀습니다!"
                        var urll = "http://localhost:8080/postDetail?no=" + no
                        $.ajax({
                            type: "get",
                            url: "like Notification",
                            data: {userid: userid, content: content, urll: urll},
                            success: function () {

                            }, error: function (error) {
                                console.log(error)
                            }
                        });
                    } else {
                        event.target.src = "img/heart.png"
                    }
                    event.target.nextElementSibling.innerText = data.likeCnt;
                },
                error: function (request, status, error) { // 결과 에러 콜백함수
                    console.log(error)
                }
            })
        }
    })

     $(document).on("click", ".report", (event) => {
        var id = [[${session.userid}]];
        if (id != null) {
            var no = event.target.parentElement.parentElement.id
            $.ajax({
                type: "post",
                async: false,
                url: "postReport",
                data: {no: no, id: id},
                success: function (data) {
                    if (data) {
                        alert("이미 신고한 게시글입니다.")
                    } else {
                        alert("신고하였습니다.")
                    }
                },
                error: function (request, status, error) { // 결과 에러 콜백함수
                    console.log(error)

                }
            })
        }
    })

    $(document).on("click", ".follow", (event) => {
       var postElement = $(event.currentTarget).closest('.post');
        var id = postElement.find('b:eq(0)').text()
        var followid = event.target.previousElementSibling.firstElementChild.innerHTML
        var userid = [[${session.userid}]];
        $.ajax({
            type: "post",
            async: false,
            url: "following",
            data: {userid: userid, followid: followid},
            success: function (data) {
                if (data) {//true이면 팔로우 함
                   var content=userid+"님이 당신을 팔로우합니다!"
                      var urll="http://localhost:8080/yourPage?id="+userid
                      $.ajax({
                        type: "get",
                        url: "like Notification",
                        data: {userid: id, content: content,urll:urll},
                        success: function(){

                        }, error: function (error) {
                            console.log(error)
                        }
                    });

                    var postidstag = document.querySelectorAll(".postid")
                    for (var i = 0; i < postidstag.length; i++) {
                        if (postidstag.item(i).innerText == followid) {
                            postidstag.item(i).parentElement.nextElementSibling.innerHTML = "팔로우 취소"
                        }
                    }
                } else {//false 이면 팔로우 취소
                    var postidstag = document.querySelectorAll(".postid")
                    for (var i = 0; i < postidstag.length; i++) {
                        if (postidstag.item(i).innerText == followid) {
                            postidstag.item(i).parentElement.nextElementSibling.innerHTML = "팔로우"
                        }
                    }
                }
            },
            error: function (request, status, error) { // 결과 에러 콜백함수
                console.log(error)
            }
        })
    })

    //스크롤 바닥 감지
    $('.title').on('scroll', function (event) {
        if ((document.querySelector('#show').getBoundingClientRect().top) <= window.innerHeight) {
            var lastNo = $('.post').last().attr('id')
            var sword = [[${sword}]];
            var region = [[${region}]];
            var category = [[${category}]]
            $.ajax({
                type: "get",
                async: false,
                url: "post",
                data: {lastNo: lastNo, sword: sword, region: region, category: category},
                success: function (data) {
                    var addContent = "";
                    var userid = [[${session.userid}]];
                    $(data).each(function (index, postMap) {
                        addContent += '<div class="post" id="' + postMap.post.no + '">' +
                            '<img src="download?filename=' + postMap.profileImgName + '" class="profileImg" alt="...">';
                        if (userid == postMap.post.id) {
                            addContent += '<a class="noLine" href="myPage"> <b class="postid">' + postMap.post.id + '</b></a>';
                        } else {
                            addContent += '<a class="noLine" href="yourPage?id=' + postMap.post.id + '"> <b class="postid noLine">' + postMap.post.id + '</b></a>';
                        }
                        if (userid != null) {
                            if (postMap.post.followstate) {
                                addContent += '<button type="button" class="follow btn btt btn-secondary">팔로우 취소</button>';
                            } else if (userid != postMap.post.id) {
                                addContent += '<button class="follow btn btt btn-secondary" type="button">팔로우</button>'
                            }
                        }
                        addContent += '<span class="right">';
                        if (userid == postMap.post.id) {
                            addContent +=

                                '<a class="noLine" href="postMod?no=' + postMap.post.no + '">수정</a>' +
                                '<a class="noLine" href="postDelete?no=' + postMap.post.no + '">삭제</a>'

                        }
                        addContent +=
                            '                    <a class="noLine" href="postDetail?no=' + postMap.post.no + '">자세히보기</a>' +
                            '                </span><br>' +
                            '                    <span>' + postMap.post.region + '</span>' +
                            '                    <span>' + postMap.post.category + '</span>' +
                            '                    <br>' +
                            '                    <hr>' +
                            '                    <b>' + postMap.post.title + '</b><br>';
                        if (postMap.post.file_name[0] != null) {
                            addContent +=
                                '                    <div id="carouselExample' + index + '"' +
                                '                         class="carousel slide slideContainer">' +
                                '                        <div class="carousel-inner">';
                            $.each(postMap.post.file_name, function (j, fname) {
                                if (fname != null) {
                                    if (j == 0) {
                                        addContent +=
                                            '                            <div class="fileContainer carousel-item active">' +
                                            '                                <img src="download?filename=' + fname + '" class="d-block w-100 postFile" alt="...">' +
                                            '                            </div>';
                                    } else {
                                        addContent +=
                                            '                            <div class="fileContainer carousel-item">' +
                                            '                                <img src="download?filename=' + fname + '" class="d-block w-100 postFile" alt="...">' +
                                            '                            </div>';
                                    }
                                }
                            })
                            addContent +=
                                '                        </div>' +
                                '                        <button class="carousel-control-prev" type="button"' +
                                '                                data-bs-target="#carouselExample' + index + '" data-bs-slide="prev">' +
                                '                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>' +
                                '                            <span class="visually-hidden">Previous</span>' +
                                '                        </button>' +
                                '                        <button class="carousel-control-next" type="button"' +
                                '                                data-bs-target="#carouselExample' + index + '" data-bs-slide="next">' +
                                '                            <span class="carousel-control-next-icon" aria-hidden="true"></span>' +
                                '                            <span class="visually-hidden">Next</span>' +
                                '                        </button>' +
                                '                    </div>';
                        }
                        addContent +=
                            '                    <br>' +
                            '                    <span>' + postMap.post.content + '</span><br>' +
                            '                    <span class="postFoot">' +
                            '                    <a id="cmtIcon" class="left" href="postDetail?no=' + postMap.post.no + '&cmtFocus=true">' +
                            '                        <img class="postImg" src="img/chat.png">';
                        $.each([[${comments}]], function (j, cmt) {
                            addContent += '<span>';
                            if (cmt.NO == postMap.post.no) {
                                addContent += '<span th:text="${cmt.cnt}">' + cmt.cnt + '</span>';
                            }
                            addContent += '</span>';
                        })
                        addContent +=
                            '                    </a>' +
                            '                <img class="postImg report" src="img/siren.png">' +
                            '                <span class="right">'
                        if (postMap.post.like) {
                            addContent += '<img class="likeBtn postImg" src="img/filledHearts.png">';
                        } else {
                            addContent += '<img class="likeBtn postImg" src="img/heart.png">';
                        }
                        addContent +=
                            '                    <span>' + postMap.post.good + '</span>' +
                            '                </span>' +
                            '                </span>' +
                            '                </div>';
                    })
                    $('#postFrame').append(addContent);
                },
                error: function (request, status, error) { // 결과 에러 콜백함수
                    console.log(error)
                }
            })
        }
    });

</script>
</html>