<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="postSearch">
        <select name="region">
            <option value="">지역선택</option>
            <option value="서울">서울</option>
            <option value="수원">수원</option>
        </select>
        <input type="text" name="sword" id="sword" placeholder="검색어를 입력하세요">
        <input type="submit" value="검색" onclick="return chkSearchAvail()">
    </form>
    <div>
        <span th:text="${post.region}"></span> <span th:text="${post.id}"></span> 팔로우 <br>
        <span th:text="${post.title}"></span><br>
        <span th:text="${post.content}"></span><br>
        <span th:each="fname : ${fileNames}" >
            <img th:src="@{download(filename=${fname})}" alt="...">
        </span><br><br>
        <span th:each="comment : ${comments}">
            <span th:text="${comment.id}"></span> <a th:href="@{postDeleteComment(c_no=${comment.c_no},no=${comment.no})}">삭제</a><br>
            <span th:text="${comment.cmt}"></span><br>
        </span>
        <form action="postSaveComment" method="post">
            <input type="text" name="cmt">
            <input type="hidden" id="cmtContent" name="no" th:value="${post.no}">
            <input type="submit" value="댓글달기" onclick="return chkCommentAvail()">
        </form>
        <br>
        신고하기 좋아요<span th:text="${post.good}"></span>
        <a th:href="@{postMod(no=${post.no})}">수정</a>
        <a th:href="@{postDelete(no=${post.no})}">삭제</a> <br><br><br>
    </div>
    <a href="postMain">홈</a>
    <a href="postInput">글쓰기</a>
    <a href="#">모임</a>
    <a href="postMyPage">마이페이지</a>
</body>
<!-- 작업 완료 후 스크립트 분리하여 static으로 옮길 것 -->
<script>
    function chkSearchAvail(){
        if(document.querySelector("#sword").value==""){
            alert("검색어를 입력해주세요");
            return false;
        } else{
            return true;
        }
    }

    function chkCommentAvail(){
        if(document.querySelector("#cmtContent").value==""){
            alert("댓글을 입력해주세요");
            return false;
        } else{
            return true;
        }
    }
</script>
</html>