<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link rel="stylesheet" type="text/css" href="/css/post_yourPage.css">

<body>
<div class="title">
    <div class="all">
        <div id="logo">
            <a href="snsMaster"> <img src="img/logo.png" id="logoimg"></a>
        </div>
        <div id="change">

            <div id="profileFrame">
                <div th:if="${memberinfo.file_name}!=null">
                    <img th:src="'/download?filename='+${memberinfo.file_name}" class="profileImg">
                </div>
                <div th:if="${memberinfo.file_name}==null">
                    <img src="img/user.png" class="profileImg">
                </div>
                <div id="idText"><h3 th:text="${memberinfo.id}"></h3></div>
                <th:block th:if="${session.userid!=memberinfo.id}">
                    <th:block th:if="${isFollowing==1}">
                        <button type="button" class="follow btn btt btn-secondary">팔로우 취소</button>
                    </th:block>
                    <th:block th:unless="${isFollowing==1}">
                        <button type="button" class="follow btn btt btn-secondary">팔로우</button>
                    </th:block>
                </th:block>

                <a class="dropdown-toggle noLine" role="button" data-bs-toggle="dropdown">
                    팔로우<span th:text="${myfollowCount}" id="myfollowCount"></span>
                </a>
                <ul class="dropdown-menu">
                    <li th:each="follow :${myfollowList}">
                        <th:block th:if="${session.userid!= follow}">
                            <a class="dropdown-item" th:href="@{yourPage(id=${follow})}">
                                <span th:text="${follow}"></span></a></th:block>
                        <th:block th:unless="${session.userid!= follow}">
                            <a class="dropdown-item me" th:href="myPage">
                                <span th:text="${follow}" class="me"></span></a>
                        </th:block>
                    </li>
                </ul>
                <a class="dropdown-toggle noLine" role="button" data-bs-toggle="dropdown">
                    팔로잉<span th:text="${myfollowingCount}" id="myfollowingCount"></span>
                </a>
                <ul class="dropdown-menu">
                    <li th:each="following :${myfollowingList}">
                        <th:block th:if="${session.userid!= following}">
                            <a class="dropdown-item" th:href="@{yourPage(id=${following})}">
                                <span th:text="${following}"></span></a></th:block>
                        <th:block th:unless="${session.userid!= following}">
                            <a class="dropdown-item" th:href="myPage">
                                <span th:text="${following}"></span></a>
                        </th:block>
                    </li>
                </ul>
                <br>
                <span id="postCnt"> </span>
            </div>
            <br>

            <div id="myPostFrame">
                <select name="category" id="postSelector">
                    <option id="all" value="all"><span>글 선택 </span></option>
                    <option id="자유게시글" value="자유게시글"><span>자유게시글 </span></option>
                    <option id="여행계획서" value="여행계획서"><span>여행계획서 </span> </span></option>
                    <option id="그룹게시글" value="그룹게시글"><span>그룹게시글 </span> </span></option>
                    <option id="모임모집글" value="모임모집글"><span>모임모집글 </span> </span></option>
                </select>

                <div id="postCard" class="row row-cols-1 row-cols-md-2 g-4">
                </div>
            </div>


            <div id="nothing">
            </div>
            <div id="show">

            </div>
        </div>
    </div>
</div>
<div id="mmode">
    <img src="img/mmode.png" id="m" class="m">
    <a href="FAQPage"> <img src="img/faq.png" class="m"></a>
    <br><br>
    <div id="idblock">
        <th:block th:if="${session.userid!=null}">
            <span style="color: #007bff ">로그인 아이디:</span>
            <br><span th:text="${session.userid}" style="font-weight: bold"></span><br>
            <span style="color: #007bff">이름:</span> <span th:text="${session.username}"></span><br>
            <span style="color: #007bff">지역:</span> <span th:text="${session.userregion}"></span>
        </th:block>
    </div>
</div>

<nav class="navbar fixed-bottom bg-body-tertiary">
    <div id="menu">
        <a href="snsMaster" class="btnimg"> <img src="img/home.png" class="img"></a>
        <a href="myPost" class="btnimg"> <img src="img/plus.png" class="img"></a>
        <a href="gList" class="btnimg"> <img src="img/group.png" class="imgs"></a>
        <a href="myPage" class="btnimg"> <img src="img/myprofile.png" class="img"></a>
    </div>
</nav>
</div>
</body>
<script th:inline="javascript">
    const id = [[${session.userid}]];
    const category = [[${category}]];
    var memberid = [[${memberinfo.id}]]
</script>
<script type="text/javascript" src="/js/post_yourPage.js"></script>
</html>