<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="postSearch">
        <select name="region">
            <option value="">지역선택</option>
            <option value="서울">서울</option>
            <option value="수원">수원</option>
        </select>
        <input type="text" name="sword" id="sword" placeholder="검색어를 입력하세요">
        <input type="submit" value="검색" onclick="return chkAvail()">
        <h1>공지</h1> <!-- 공지 담당자(김정태) 와 상의하여 공지 테이블 내용 넣을 것 -->
        <div th:each="post : ${posts}">
            <span th:text="${post.region}"></span> <span th:text="${post.category}"></span> <span th:text="${post.id}"></span> 팔로우 <a th:href="@{postDetail(no=${post.no})}">자세히보기</a><br>
            <span th:text="${post.title}"></span><br>
            <span th:text="${post.content}"></span><br>
            댓글 신고하기 좋아요<span th:text="${post.good}"></span> <a th:href="@{postDelete(no=${post.no})}">삭제</a><br><br>
        </div>
        <a href="snsMaster">홈</a>
        <a href="myPost">글쓰기</a>
        <a href="#">모임</a>
        <a href="myPage">마이페이지</a>
    </form>
</body>
<script>
    function chkAvail(){
        if(document.querySelector("#sword").value==""){
            alert("검색어를 입력해주세요");
            return false;
        } else{
            return true;
        }
    }
</script>
</html>