<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet">
<link href="css/review.css" rel="stylesheet">
<body>
<div class="navbar">
    <div class="container">
        <a href="snsMaster"><div id="dd"><img src="img/logo.png" width="100px" height="70px"></div></a>
        <ul>
            <li><a href="/review" style="color:wheat;">공지사항 관리</a></li>
            <li><a href="managerMode">자유게시판 관리</a></li>
            <li><a href="managerMode2">그룹게시판 관리</a></li>
            <li><a href="stopmember">정지 회원 관리</a></li>
            <li id="ggg"><a href="logoutManager">로그 아웃</a></li>
        </ul>
</div>
</div>
<form action="input" method="get">
        <div id="header">
        공지사항 등록<input type="hidden" name="id" th:value="${id}"/>
        <br>
        <textarea rows="15" cols="50" name="s_text"></textarea>
    <input type="submit" value="등록하기">
        </div>
</form>
<table>
    <tr>
        <th>공지내용</th>
        <th>삭제</th>
    </tr>
    <tr th:each="all:${allList}">
     <td th:text="${all.memo}"></td>
      <td><a th:href="@{dell(NO=${all.NO})}">삭제</a></td>
    </tr>
</table>
</body>
</html>