<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet">
<link href="css/stop.css" rel="stylesheet">
<body>
<div id="header">
<h1>회원정지</h1>
    <form action="stopinput">
 정지이유<input type="hidden" name="id" th:value="${id}"/>
    <br>
    <textarea rows="15" cols="50" name="s_text"></textarea>
    <br>
    <br>
    정지 기간
    <input type="date" name="finish"> <input type="submit" value="보내기">
</form>
</div>
</body>
</html>