<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codemaster.project_snsmaster.dao.IF_ManagerDAO">
    <insert id="insert" parameterType="String">
    insert into notice values(null,#{memo})
</insert>
<delete id="noticedell" parameterType="int">
   delete from notice where No=#{NO}
</delete>
    <select id="groupPost" resultType="com.codemaster.project_snsmaster.vo.GroupPostVO">
    SELECT * FROM grouppost WHERE g_report >= 1 ORDER BY g_report desc;
    </select>
    <select id="postReport" resultType="com.codemaster.project_snsmaster.vo.PostVO">
        SELECT * FROM post WHERE report >= 1 ORDER BY report desc;
    </select>
    <select id="selectgroupPost" resultType="com.codemaster.project_snsmaster.vo.GroupPostVO">
        select*from groupPost where g_no=#{g_no}
    </select>
    <select id="selectpost" resultType="com.codemaster.project_snsmaster.vo.PostVO">
        select*from Post where no=#{no}
    </select>
    <insert id="stopinsert" parameterType="com.codemaster.project_snsmaster.vo.StopMemberVO">
        INSERT INTO stopmember VALUES (#{id}, #{s_text},now(),#{finish})
   </insert>
    <delete id="delete" parameterType="int">
    delete from groupPost where g_no=#{g_no}
    </delete>
    <delete id="delete2" parameterType="int">
        delete from Post where no=#{no}
    </delete>
    <select id="selectrandom" parameterType="hashmap" resultType="com.codemaster.project_snsmaster.vo.PostVO">
        SELECT * FROM post WHERE ${searchcell} like concat('%',#{search},'%')
    </select>
    <select id="selectrandom2" parameterType="hashmap" resultType="com.codemaster.project_snsmaster.vo.GroupPostVO">
        SELECT * FROM grouppost WHERE ${searchcell} like concat('%',#{search},'%')
    </select>
    <update id="alter" parameterType="int">
      update post set report=0 where no=#{no}
    </update>
    <update id="alter2" parameterType="int">
        update grouppost set g_report=0 where g_no=#{g_no}
    </update>
    <select id="stopMember" resultType="com.codemaster.project_snsmaster.vo.StopMemberVO">
     select*from stopmember
    </select>
    <delete id="deletestop" parameterType="String">
     delete from stopmember where id=#{id}
    </delete>
    <delete id="fordelete" parameterType="java.util.List">
        DELETE FROM post
        WHERE no IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="fordelete2" parameterType="java.util.List">
        DELETE FROM grouppost
        WHERE g_no IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="Notification" parameterType="hashmap">
     insert into Notification values(#{userid},#{content},false,#{urll},default)
    </insert>
<select id="stateNotification" parameterType="String" resultType="int">
    SELECT count(*) FROM notification WHERE id=#{id} and state=FALSE
</select>
    <select id="notificationlook" parameterType="String" resultType="com.codemaster.project_snsmaster.vo.NotificationVO">
    select*from notification where id=#{id} order by nowtime desc
    </select>
    <update id="notifi" parameterType="String">
     update notification set state=true where id=#{id}
    </update>
    <select id="notice" resultType="com.codemaster.project_snsmaster.vo.NoticeVO">
        select*from notice
    </select>
    <select id="searchstopmember" resultType="com.codemaster.project_snsmaster.vo.StopMemberVO">
        SELECT * FROM stopmember WHERE ${searchcell} like concat('%',#{search},'%')
    </select>
</mapper>
