<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codemaster.project_snsmaster.dao.IF_PostDAO">
    <insert id="insertPost" parameterType="com.codemaster.project_snsmaster.vo.PostVO">
        <!-- 로그인 기능 완성 후 id 수정할 것-->
        insert into post values(null, 'a', #{region}, #{title}, #{content}, 0, 0, #{category})
    </insert>
    <select id="selectAll" resultType="com.codemaster.project_snsmaster.vo.PostVO">
        select * from post order by NO DESC;
    </select>
    <select id="select" resultType="com.codemaster.project_snsmaster.vo.PostVO" parameterType="hashmap">
        select * from post where region like concat('%',#{region},'%') and (title like concat('%',#{sword},'%') or content like concat('%',#{sword},'%'))
    </select>
    <insert id="insertAttach" parameterType="String">
        insert into post_attach values ((select max(NO) from post), #{fileName})
    </insert>
    <select id="selectOne" parameterType="String" resultType="com.codemaster.project_snsmaster.vo.PostVO">
        select * from post where NO = #{no}
    </select>
    <select id="selectFileNames" parameterType="String" resultType="String">
        select file_name from post_attach where NO = #{no}
    </select>
    <insert id="insertComment" parameterType="com.codemaster.project_snsmaster.vo.PostCommentVO">
        insert into post_comment values (null, #{no}, 'a', #{cmt})
    </insert>
    <select id="selectComment" parameterType="String" resultType="com.codemaster.project_snsmaster.vo.PostCommentVO">
        select * from post_comment where NO = #{no}
    </select>
    <delete id="deleteComment" parameterType="String">
        delete from post_comment where c_no = #{c_no}
    </delete>
    <delete id="deletePost" parameterType="String">
        delete from post where NO = #{no}
    </delete>
</mapper>
